name: Generate svg stats
on: [push]
jobs:
  stats:
    name: Generate stats
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Ready assets directory
      run: mkdir -p assets
    - name: Generate lang statistics svgs
      run: docker build . --output=./assets/
    - name: Push to branch
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: artifacts
        FOLDER: assets
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
